<li id="comment-<%= comment.id %>">

  <span class="content"><%= comment.content %></span>
  <span class="timestamp">Posted <%= time_ago_in_words(comment.created_at) %> ago</span>
  <span class="user">by <%= link_to comment.user.name, comment.user %></span>
  <span class="delete">
    <% if current_user?(comment.user) %>
    <%= link_to "delete", comment, method: :delete,
                                     data: { confirm: "You sure?" } %>
    <% end %>
  <%=link_to "reply", new_comment_path, class: "btn btn-primary", remote: true%>

  <%#= render 'shared/error_messages', object: f.object %>
  <div id = "comment-box", style = "display:none;"></div>
  

</li>
