<li id="comment-<%= comment.id %>">
  <span class="votes">
    +<%= comment.votes.where(isUpvote: true).count %> /  
    -<%= comment.votes.where(isUpvote: false).count %>
    [
    <%= link_to '+', upvote_comment_path(comment), method: :post %> 
    <%= link_to '0', unvote_comment_path(comment), method: :post %> 
    <%= link_to '-', downvote_comment_path(comment), method: :post %>
    ]
  </span>
  <span class="content"><%= comment.content %></span>
  <br>
  <span class="timestamp">Posted <%= time_ago_in_words(comment.created_at) %> ago</span>
  <span class="user">by <%= link_to comment.user.name, comment.user %></span>
  <span class="delete">
    <% if current_user?(comment.user) %>
    <%= link_to "delete", comment, method: :delete,
                                     data: { confirm: "You sure?" } %>
    <% end %>
  <br>
  <%=link_to "reply", new_comment_path(comment.id), class: "btn btn-primary", remote: true%>

  <%#= render 'shared/error_messages', object: f.object %>
  <div id = "comment-box-<%= comment.id %>", style = "display:none;"></div>
  <ul class="comments">
    <%= render comment.comments %>
  </ul>
</li>
