<% provide(:title, 'Create Post') %>
<h1>Create Post</h1>
<%= form_for(@post) do |f| %>
  <%#= render 'shared/error_messages', object: f.object %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>

    <%= f.label :link %>
    <%= f.text_field :link, class: 'form-control' %>

    <%= f.label "Subreddit" %>
    <%= f.text_field :subname, class: 'form-control' %>

    <%= f.label :body %>
    <%= f.text_area :body, placeholder: "Compose new post..." %>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>