<%= render @post %>
<h1>Comment</h1>
<%= form_for(@comment, url: create_comment_path) do |f| %>
  <%#= render 'shared/error_messages', object: f.object %>
    <%= f.label :content %>
    <%= f.text_area :content, placeholder: "Compose new post..." %>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
<div>
  <h3>Comments</h3>
	<ul class="comments">
		<%= render @comments %>
	</ul>
</div>