<%= render @post %>
<%= form_for(@comment, url: create_comment_path) do |f| %>
  <%#= render 'shared/error_messages', object: f.object %>
    <%= f.text_area :content, placeholder: "Share your feelings..." %>
  <%= f.submit "Comment", class: "btn btn-primary" %>
<% end %>
<div>
  <h3>Comments</h3>
	<ul class="comments">
		<%= render @comments %>
	</ul>
</div>